<?xml version="1.0"?>
<launch>
    <!-- MAVROS posix SITL environment launch script -->
    <!-- launches Gazebo environment and 2x: MAVROS, PX4 SITL, and spawns vehicle -->
    <!-- vehicle model and world -->
    <arg name="est" default="ekf2"/>
    <arg name="world" default="$(find mavlink_sitl_gazebo)/worlds/fakeplanner.world"/>
    <!-- gazebo configs -->
    <arg name="gui" default="true"/>
    <arg name="debug" default="false"/>
    <arg name="verbose" default="false"/>
    <arg name="paused" default="false"/>
          <arg name="obstaclestopper" default="false"/>
    <!-- Gazebo sim -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="gui" value="$(arg gui)"/>
        <arg name="world_name" value="$(arg world)"/>
        <arg name="debug" value="$(arg debug)"/>
        <arg name="verbose" value="$(arg verbose)"/>
        <arg name="paused" value="$(arg paused)"/>
    </include>
     <!-- iris_0 -->
     <group ns="iris_0">
        <!-- MAVROS and vehicle configs -->
            <arg name="ID" value="0"/>
            <arg name="ID_in_group" value="0"/>
            <!-- <arg name="fcu_url" default="udp://:18560@localhost:18570"/> -->
            <arg name="fcu_url" default="udp://:24540@localhost:34580"/>
<!-- <node pkg="tf" type="static_transform_publisher" name="iris_0_depth_to_base"
      args="0.0 0.0 0.0 0 0 0 world map  100" /> -->

<!-- <node pkg="tf" type="static_transform_publisher" name="iris_0_depth_to_dep"
      args="0.0 0.0 0.0 1.5708 3.14 1.5708 /iris_0/depth_camera_base  /iris_0/depth_camera_base_new  100" /> -->

        <!-- PX4 SITL and vehicle spawn -->
        <include file="$(find px4)/launch/single_vehicle_spawn_xtd.launch">
            <arg name="x" value="0"/>
            <arg name="y" value="0"/>
            <arg name="z" value="0.5"/>
            <arg name="R" value="0"/>
            <arg name="P" value="0"/>
            <arg name="Y" value="1.5708"/>
            <arg name="vehicle" value="iris"/>
            <arg name="sdf" value="iris_downward_camera"/>
            <arg name="mavlink_udp_port" value="18570"/>
            <arg name="mavlink_tcp_port" value="4560"/>
            <arg name="ID" value="$(arg ID)"/>
            <arg name="ID_in_group" value="$(arg ID_in_group)"/>
        </include>
        <!-- MAVROS -->
        <include file="$(find mavros)/launch/px4.launch">
            <arg name="fcu_url" value="$(arg fcu_url)"/>
            <arg name="gcs_url" value=""/>
            <arg name="tgt_system" value="$(eval 1 + arg('ID'))"/>
            <arg name="tgt_component" value="1"/>
        </include>
    </group>
    <!-- <node pkg="rmtt_tracker" type="tracking_minisnap.py" name="tracking_minisnap" output="screen" respawn="true"/> -->
<!-- <group ns="ugv_0">
<param name="robot_description"
         command="$(find xacro)/xacro '$(find catvehicle)/urdf/catvehicle1-3.xacro' roboname:='ugv_0'" />
<include file="$(find catvehicle)/launch/catvehicle.launch">
    <arg name="robot_name" value="ugv_0"/>
    <arg name="init_pose" value="-x -2 -y 6 -z 0 -R 0 -P 0 -Y -0.6"/>
    <arg name="config_file" value="catvehicle_control.yaml"/>
    <arg name="obstaclestopper" value="$(arg obstaclestopper)"/>
</include>
</group> -->
</launch>
<!--the launch file is generated by XTDrone multi-vehicle generator.py  -->
